# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile
Makefile*
*build-*

bin
log
debug
release
.obj
.moc
.ui
.resources
custom.pri
*.user
.qmake.stash
*.rc
*.Debug
*.Release
*.exe
object_script.*
*.user

# QtCreator
*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*


# QtCtreator CMake
CMakeLists.txt.user*

# зависимые либы пока оставим
!face/3rdparty/
!face/3rdparty/*
